.container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
  justify-content: center;
  max-width: 1200px;
  margin: 2.5rem auto;
}

.link {
  align-items: center;
  background-color: rgb(34, 15, 119);
  border: #fff 1px solid;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  max-width: 375px;
  padding: 4.75rem;
  text-align: center;
  width: 100%;
}

.link:hover {
  background-color: #224222;
}

.link > svg {
  margin: 0 0 0 0.25rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 2rem auto;
  text-decoration: underline;
  text-align: center;
}
