.arrowLeft {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-shrink: 0;
  left: 1rem;
  position: absolute;
}
.arrowRight {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-shrink: 0;
  position: absolute;
  right: 1rem;
}

.container {
  background-color: rgb(4, 17, 17);
  border: #fff 1.5px solid;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  min-height: 500px;
  padding: 3rem 0;
  position: relative;
}

.containerError {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 3rem auto;
  padding: 1.5rem;
}

.containerError a {
  margin: 0 auto;
  max-width: 250px;
}

.form {
  border: #fff 1px solid;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 2.25rem 1.75rem;
}

.form > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.form button {
  margin: 1rem 0 0 0;
}
