.arrowLeft {
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

.container {
  background-color: rgb(4, 17, 17);
  display: flex;
  justify-content: center;
  min-height: 500px;
  padding: 3rem 0;
  position: relative;
}
