.form {
  align-items: center;
  background-color: rgb(34, 15, 119);
  border: #fff 1px solid;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 475px;
  padding: 1.25rem 1.75rem;
  width: 100%;
}

.row input {
  height: 30px;
  margin: 0.5rem 0;
  min-width: 225px;
}

.loginButton {
  background-color: #3b7b3a;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  margin: 0.75rem 0 0 0;
  padding: 0.5rem 1.75rem;
}
