.container {
  align-items: center;
  background-color: rgb(4, 17, 17);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  position: relative;
}

.arrowRight {
  position: absolute;
  right: 0;
  top: 0;
}

.arrowLeft {
  left: 0;
  position: absolute;
  top: 0;
}
