.alertCircle {
  flex-shrink: 0;
  margin: 0 0.5rem 0 0;
}

.container {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  margin: 0 1rem;
  max-width: 300px;
}

.containerRow {
  display: flex;
  margin: 0.5rem 0;
}

.container input {
  width: 100%;
}

.containerCustomError {
  color: #ff5555;
  font-size: 0.85rem;
  margin: 0 0 0 40px; /* 40 px es el espacio que ocupa el svg */
}

.header {
  text-align: center;
}

.header > div:last-child {
  margin: 1rem 0;
}

.minusSign,
.plusSign {
  cursor: pointer;
  flex-shrink: 0;
  margin: 0 0.5rem 0 0;
}
