.arrowLeft {
  align-items: center;
  bottom: 1rem;
  display: flex;
  left: 1rem;
  position: absolute;
}
.arrowRight {
  align-items: center;
  bottom: 1rem;
  display: flex;
  position: absolute;
  right: 1rem;
}

.container {
  background-color: rgb(4, 17, 17);
  border: #fff 1.5px solid;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  min-height: 500px;
  padding: 3rem 0;
  position: relative;
}

.form {
  border: #fff 1px solid;
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  max-width: 400px;
  padding: 2.25rem 1.75rem;
  width: 100%;
}

.form button {
  margin: 1rem 0 0 0;
}

.form input {
  width: 100%;
}

.formCustomError {
  color: #ff5555;
  font-size: 0.85rem;
  margin: 0.75rem 0;
}
