.arrowLeft {
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}
.arrowRight {
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  background-color: rgb(4, 17, 17);
  display: flex;
  justify-content: center;
  min-height: 500px;
  padding: 3rem 0;
  position: relative;
}

.form {
  border: #fff 1px solid;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 2.25rem 1.75rem;
  width: 100%;
}

.form input {
  margin: 0.75rem 0;
}

.form input[type="submit"] {
  margin: 1rem 0 0 0;
}
